@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

.animate-slide-left {
  animation: slide-left 10s infinite;
}

.animate-slide-right {
  animation: slide-right 10s infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);}
}